{% extends "base.html" %}
{% block content %}

{{ macros.setting_input_text('filename', '파일명', value=arg['temp_filename']) }}

{{ macros.m_hr_black() }}
<form id='setting' name='setting'>
{{ macros.setting_input_text_and_buttons('url', 'URL', [['download_url_btn', '다운로드']], value=arg['download_url'], desc=['비디오 파일 주소 or m3u8 주소']) }}

{{ macros.m_hr_black() }}

{{ macros.setting_input_textarea_and_buttons('curl', 'curl로 복사(bash)', [['download_curl_btn', '다운로드']], col='9', row='30', value=arg['download_curl'], desc=['브라우저 개발자 도구에서 curl로 복사(bash) 값 입력']) }}


</form>

<script type="text/javascript">
$(document).ready(function(){
});

$("body").on('click', '#download_url_btn', function(e){
  e.preventDefault();
  if ($("#url").val().startsWith('http') == false) {
    $.notify('<strong>URL을 입력하세요.</strong>', {
      type: 'warning'
    });
    return;
  }
  globalSendCommand('download', $("#filename").val(), $("#url").val());
});

$("body").on('click', '#download_curl_btn', function(e){
  e.preventDefault();
  if ($("#url").val().startsWith('http') == false) {
    $.notify('<strong>URL을 입력하세요.</strong>', {
      type: 'warning'
    });
    return;
  }
  globalSendCommand('download_curl', $("#filename").val(), $("#curl").val());
});
</script>    
{% endblock %}
