{% extends "base.html" %}
{% block content %}

{{ macros.m_button_group([['globalSettingSaveBtn', '설정 저장']])}}
{{ macros.m_row_start('5') }}
{{ macros.m_row_end() }}
{{ macros.m_hr() }}

<form id='setting' name='setting'>
<div class="tab-content" id="nav-tabContent">
{{ macros.setting_input_text_and_buttons('ffmpeg_path', 'FFMPEG 경로', [['ffmpeg_version_btn', '버전확인'], ['select_binary_path_btn', '파일 선택', [['path_data', arg['path_data']]] ]], value=arg['ffmpeg_path']) }}
{{ macros.setting_input_text('save_path', '저장 폴더', value=arg['save_path'], desc=['데이터 폴더내 저장 폴더 이름']) }}
{{ macros.setting_input_int('max_pf_count', '허용 Packet Fail 수', value=arg['max_pf_count'], min='0', placeholder='0', desc=['이 값보다 Packet Fail 횟수가 더 많으면 실패처리 합니다.', '0일 경우 Packet Fail이 발생하면 바로 실패처리.']) }}

{{ macros.setting_input_int('timeout_minute', '타임아웃 시간', value=arg['timeout_minute'], desc=['이 시간 안에 완료가 되지 않으면 시간초과 에러를 발생합니다.', '속도가 느린 경우 값을 올려 설정하세요. 분 단위']) }}
</div>
</form>

<script type="text/javascript">
$(document).ready(function(){
});

$("body").on('click', '#ffmpeg_version_btn', function(e){
  e.preventDefault();
  globalSendCommand('ffmpeg_version');
});

$("body").on('click', '#select_binary_path_btn', function(e){
  e.preventDefault();
  path_data = $(this).data('path_data');
  globalSelectLocalFile("파일 선택", path_data, function(ret){
    $('#ffmpeg_path').val(ret);
  });
});

</script>    
{% endblock %}